<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Mode" value="Dev" />
    <add key="SoftwareName" value="Logger" />

    <!--Schedule Configuration-->
    <add key="InstantInterval" value="00:00:05" />
    <add key="DayStart" value="07:00:00" />
    <add key="DayEnd" value="20:00:00" />
    <add key="Daily" value="20:00:00" />
    <add key="Weekly" value="20:00:00" />
    <add key="WeeklyDay" value="Friday" />
    <add key="RunAtWeekend" value="False" />
  </appSettings>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>